[submodule "Backend"]
	path = Backend
	url = https://github.com/Luisin13/NLW-Return-Impulse.git
	branch = Aula-5-Backend
[submodule "Mobile"]
	path = Mobile
	url = https://github.com/Luisin13/NLW-Return-Impulse.git
	branch = Aula-4-Mobile
[submodule "Web"]
	path = Web
	url = https://github.com/Luisin13/NLW-Return-Impulse.git
	branch = Aula-5-Web